<html lang="en">
<div id="app">
    <h2>Current time :</h2>
    <h1>{{ time.getHours()  != 12 ? time.getHours() % 12 : 12 }}:{{ ('0' + time.getMinutes()).slice(-2)  }}{{ time.getHours() >= 12 ? ' PM' : ' AM' }}</h1>
    <Button id="stop" v-on:click="stopAlarm" v-if="alarm_going_off" >Stop alarm</Button>
    <select id="hour">
      <option>12</option>
      <option v-for="i in 1,11">{{ i }}</option>
    </select>:<select id="minute">
      <option v-for="i in 60">{{ ('0' + (i-1)).slice(-2) }}</option>
    </select>
    <select id="am_pm">
      <option>AM</option>
      <option>PM</option>
    </select> <strong>For:</strong>
    <input type="text" id="alarm_message" @keyup.enter="saveAlarm" />
    <button v-on:click="saveAlarm">Set alarm</button>
    <table>
      <tr v-for="(alarm, i) in alarms">
        <td>{{alarm.hour}}:{{ ('0' + (alarm.minute)).slice(-2) }}{{ alarm.am_pm}}</td>
        <td>{{ alarm.message}}</td>
        <td><button v-on:click="deleteAlarm(i)">Delete</button>
      </tr>
    </table>
    
  </div>
  <link rel="stylesheet" href="style.css">


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
  <script src="script.js"></script>
  </html>